<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>E-Voting</title>
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <header>
        <div class="header">
          <img
            src="https://t4.ftcdn.net/jpg/05/84/26/61/360_F_584266196_lFkZt7CCgGrlhil83DsI0MyGvd8eSDoc.jpg"
            alt="eci"
            height="100"
            width="100"
          />
          <h1>Election Commission Of India</h1>
          <div></div>
        </div>
      </header>
    <main>
      <div class="content">
        <div class="btn"><a href="/login">Voter Login/Register</a></div>
        <div class="btn"><a href="/result">Results</a></div>
      </div>
    </main>
  </body>
</html>
