<!DOCTYPE html>
<html>
  <head>
    <title>RESULT</title>
    <link rel="stylesheet" href="result.css" />
  </head>

  <body>
  <form action="/result">
    <header>

        <div class="header">
            <img
            src="https://t4.ftcdn.net/jpg/05/84/26/61/360_F_584266196_lFkZt7CCgGrlhil83DsI0MyGvd8eSDoc.jpg"
            alt="eci"
            height="100"
            width="100"
            />
            <h1>Election Commission Of India</h1>
            <div></div>
        </div>
</header>
<main>
    <div class="wrapper">
    
            The Result has been declared
        
    </div>
        
        
</main>
    <table id="voteing_elements">
      <tr>
        <th>Election party symbol</th>
        <th>Party Name</th>
        <th>Candidate Name</th>
        
        <th>Number of Vote</th>
      </tr>

      <tr>
        <td>
          <img
            src="https://logos-world.net/wp-content/uploads/2022/06/BJP-Emblem.png"
            alt="bjp"
            height="90"
            width="160"
          />
        </td>

        <td>BJP</td>
        <td>Narendra Damodardas Modi</td>
        
        <td>300</td>
      </tr>

      <tr>
        <td>
          <img
            id="tmcs"
            src="https://ih1.redbubble.net/image.3588467389.4215/st,medium,507x507-pad,600x600,f8f8f8.webp"
            alt="tmc"
            height="90"
            width="90"
          />
        </td>

        <td>TMC</td>
        <td>MAMATA BANERJEE</td>
        
        <td>0</td>
      </tr>

      <tr>
        <td>
          <img
            id="congs"
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Indian_National_Congress_hand_logo.svg/600px-Indian_National_Congress_hand_logo.svg.png"
            alt="cong"
            height="90"
            width="90"
          />
        </td>

        <td>CONGRESS</td>
        <td>RAHUL GANDHI</td>
        
        <td>1</td>
      </tr>

      <tr>
        <td>
          <img
            id="aaps"
            src="https://www.hindusthansamachar.in/Encyc/2023/6/22/aap_720_H@@IGHT_0_W@@IDTH_600.jpg"
            alt="aap"
            height="90"
            width="90"
          />
        </td>

        <td>AAP</td>
        <td>Arvind kejriwal</td>
        
        <td>1</td>
      </tr>
    </table>

    <div class="winner">
        <div class="er">
            WINNER
        </div>
    </div> 
    
    <table id="result">
        <tr>
            <th>Election party symbol</th>
            <th>Party Name</th>
            <th>Candidate Name</th>
        </tr>
        <tr>
            <td>
              <img
                src="https://logos-world.net/wp-content/uploads/2022/06/BJP-Emblem.png"
                alt="bjp"
                height="90"
                width="160"
              />
            </td>
    
            <td>BJP</td>
            <td>Narendra Damodardas Modi</td>
            
            
          </tr>
    
        

    </table>
    </form>
  </body>
</html>
